<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>si</key>
		<array>
			<dict>
				<key>a</key>
				<real>-87.61464321640851</real>
				<key>i</key>
				<integer>0</integer>
				<key>z</key>
				<real>260.58980042556732</real>
			</dict>
			<dict>
				<key>a</key>
				<real>-17.107833232320647</real>
				<key>i</key>
				<integer>1</integer>
				<key>z</key>
				<real>90.196410452802354</real>
			</dict>
			<dict>
				<key>a</key>
				<real>-11.106712852371931</real>
				<key>i</key>
				<integer>2</integer>
				<key>z</key>
				<real>90.184292280279067</real>
			</dict>
			<dict>
				<key>a</key>
				<real>-5.3556087296156827</real>
				<key>i</key>
				<integer>3</integer>
				<key>z</key>
				<real>90.175040414179477</real>
			</dict>
			<dict>
				<key>a</key>
				<real>0.18772787277664793</real>
				<key>i</key>
				<integer>4</integer>
				<key>z</key>
				<real>90.167737808865922</real>
			</dict>
			<dict>
				<key>a</key>
				<real>6.0426817014084806</real>
				<key>i</key>
				<integer>5</integer>
				<key>z</key>
				<real>90.161728424622765</real>
			</dict>
			<dict>
				<key>a</key>
				<real>11.978559286514264</real>
				<key>i</key>
				<integer>6</integer>
				<key>z</key>
				<real>90.15767253075893</real>
			</dict>
			<dict>
				<key>a</key>
				<real>18.453044152377785</real>
				<key>i</key>
				<integer>7</integer>
				<key>z</key>
				<real>90.155076136101798</real>
			</dict>
			<dict>
				<key>a</key>
				<real>88.418587166161458</real>
				<key>i</key>
				<integer>8</integer>
				<key>z</key>
				<real>92.546591588707315</real>
			</dict>
			<dict>
				<key>a</key>
				<real>18.363179677279813</real>
				<key>i</key>
				<integer>9</integer>
				<key>z</key>
				<real>270.01069780903151</real>
			</dict>
			<dict>
				<key>a</key>
				<real>12.137504395377398</real>
				<key>i</key>
				<integer>10</integer>
				<key>z</key>
				<real>270.0174023923966</real>
			</dict>
			<dict>
				<key>a</key>
				<real>6.4451259486528949</real>
				<key>i</key>
				<integer>11</integer>
				<key>z</key>
				<real>270.02347353472419</real>
			</dict>
			<dict>
				<key>a</key>
				<real>0.75101295352156883</real>
				<key>i</key>
				<integer>12</integer>
				<key>z</key>
				<real>270.02991920699668</real>
			</dict>
			<dict>
				<key>a</key>
				<real>-5.4458325468871678</real>
				<key>i</key>
				<integer>13</integer>
				<key>z</key>
				<real>270.03727250682118</real>
			</dict>
			<dict>
				<key>a</key>
				<real>-11.196970640174076</real>
				<key>i</key>
				<integer>14</integer>
				<key>z</key>
				<real>270.04432734999762</real>
			</dict>
			<dict>
				<key>a</key>
				<real>-17.698226731979346</real>
				<key>i</key>
				<integer>15</integer>
				<key>z</key>
				<real>270.05323865678253</real>
			</dict>
		</array>
	</dict>
</plist>
